.container {
    text-align: center;
    padding: 10px;
  }
  
  .header {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .content {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .content h2 {
    color: #333;
  }
  
  .content p {
    color: #555;
  }
  
  .content ul {
    list-style-type: disc;
    padding-left: 20px;
    color:#555;
  }