/* Reset body and html margin and padding to ensure navbar is at the top */
html, body {
  margin: 0;
  padding: 0;
}

/* General Container Style */
.container {
  text-align: center;
  padding: 20px;
  display: flex;
  margin-top: 70px; /* Added margin to push content below the navbar */
}

/* Dashboard Content */
.dashboard-content {
  max-width: 800px;
  margin: 20px auto;
  text-align: left;
}

.progress-report, .detailed-reports {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.progress-report h2, .detailed-reports h2 {
  color: #333;
}

.progress-report p, .detailed-reports p {
  color: #555;
}

/* Footer Style */
.footer {
  color: #000000;
  text-align: center;
  margin-top: auto; /* Pushes the footer to the bottom */
  padding: 10px 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.bottom-bar {
  text-align: center;
}

/* Container to align both buttons horizontally */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px; /* Space between buttons */
  margin-top: 20px; /* Adjust as needed */
}

/* Button styling adjustments */
.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
  font-size: 1.2rem;
  font-weight: 800;
  font-family: inherit;
  background-color: #FFFFFF;
  color: #000000;
  border: 3px solid #000000;
  border-radius: 25px;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  width: 320px;
  position: relative;
  gap: 10px;
}

.btn:hover {
  background-color: #f8f8d2;
  color: #000000;
  border-color: #000000; /* Ensure border stays black on hover */
  transform: scale(1.05); /* Slightly enlarge button on hover */
}

.btn:active {
  background-color: #f8f8d2;
  transform: scale(1); /* Reset to original size on click */
}

.btn h2 {
  margin: 0;
  font-size: 1.3em;
}