.landing-container {
  justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
/* Container styling */
.logo-container {
  margin-top: 0;
  width: 350px; /* Adjust as needed */
  height: 350px; /* Adjust as needed */
  background-image: url('../images/staticLogo.png'); /* Default static image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Change to animated GIF on hover */
.logo-container:hover {
  background-image: url('../images/animatedLogo.gif');
}

.title {
  font-size: 2em;
  margin-top: 0.5em;
  text-align: center;
}


  
  .btn {
    width: 400px;
    background-color:#fff;
    color:#008f7a;
    margin: 5px 10px;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    transition: background 0.3s;
  }  
  .btn:hover {
    background-color: #008f7a;
    color: #333;
  }

  
  